latex-code/book.aux
latex-code/book.idx
latex-code/book.log
latex-code/book.out
latex-code/book.pdf
latex-code/book.synctex.gz
latex-code/book.toc
latex-code/book.bbl
latex-code/book.blg
latex-code/figures/*.pdf
latex-code/book.dvi
latex-code/book.ilg
latex-code/book.ind
